.createform{
    margin-left: 300px;
    color:aliceblue;
}
#dropdown {
    padding: 8px 12px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    outline: none; 
    width: 200px; 
    background-color: #fff; 
    cursor: pointer; 
  }
  

  #dropdown option {
    padding: 8px 12px; 
    font-size: 14px; 
  }